* {
    padding: 0px;
    margin: 0px;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0d1838;
    color: white;
    position: sticky;
    top: 0;
    z-index: 20;
    padding: 20px 20px;
    height: 30px;
}

.lhead {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
}

.lhead img {
    height: 36px;
    width: 36px;
    border-radius: 50px;
}

.mhead {
    display: flex;
    align-items: center;
    font-size: 21px;
}
.mhead li a:hover{
    color: rgba(255, 9, 9, 0.863);
}

a {
    text-decoration: none;
    color: inherit;
    padding: 0px 10px;
}

.mhead li {
    list-style: none;
}

.rhead {
    display: flex;
}

.dbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: inherit;
    padding: inherit;
    margin: 0px 31px;
    background-color: inherit;
    font-family: inherit;
}
.dbtn:hover{
    color:rgba(255, 9, 9, 0.863);
}

.dcon {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 165px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dcon a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dcon a:hover {
    background-color: rgb(175, 174, 240);
}

.drop:hover .dcon {
    display: block;
}

.openBtn {
    background: inherit;
    font-style: inherit;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    color: inherit;
    border-radius: 5px;
}

.openBtn:hover {
    background-color:rgba(255, 9, 9, 0.863) ;
}

/* overlay class content */

.closebtn {
    position: absolute;
    display: block;
    font-size: 30px;
    font-style: inherit;
    right: inherit;
    cursor: pointer;
    color: white;
    right: 30px;
    top: 25px;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
}

.f {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #0d1838;
    border-radius: 5px;
    margin: 20px 400px;
}


.overlay-content {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #0d1838;
    padding-top: 50px;
    align-items: center;
}

.t {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

.c {
    padding: 0px 5px;
    font-size: 14px;
    color: white;
}

.si div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
}

.si input,
.si button {
    font-size: 15px;
}

.fo {
    font-size: 30px;
    color: white;
    font-size: 40px;
    margin: 10px 0px;
    text-align: center;
}

.fi {
    font-size: 15px;
    color: white;
    font-size: 20px;
    margin: 10px 0px;
    text-align: center;
}

/* background */

.background {
    background-color: #0d1838;
}


/* middle section */
.bacc{
    display: block;
    box-sizing: inherit;
    width: 80%;
}
.bocc{
    display: block;
    box-sizing: inherit;
    width: 80%;
    height: 210px;
}
.imgc img{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 86px;
    margin-right: 10px;
    
}

.flcl{
    display: flex;
    align-items: center;
    margin: 20px 0px;

}
.sfa{
    margin: 19px 40px 40px 40px;
    box-shadow: 0 4px 16px hsla(355, 25%, 15%, .1);
    border-radius: .75rem;
    padding: 20px 20px;
}

.msc{
    height: 1150px;
    margin: 30px 0px 30px 50px;
}

.sfc{
    display: block;
    width: 66%;
    float: left;
    clear: left;
}

.ssc{
    display: block;
    width: 33%;
    float: right;
    clear: right;
    

}
.ssc h2 a:hover{
    color: rgba(255, 9, 9, 0.863);
    text-decoration: underline;

}

/* footer class */

footer {
    display: flex;
    background-color: #0d1838;
    justify-content: center;

    color: white;
    align-items: center;
    padding: 20px 20px;

}

footer div {
    margin: 0px 50px;
}

footer a {
    margin: 0px 15px;
    padding: 0px 0px;
}

/* burger class */

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 8px;

}

.line {
    width: 23px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}