@media only screen and (max-width : 1022px) {

    /* nav bar */

    header {
        padding: 10px 10px 5px 10px;
        flex-direction: column;
        height: 75px;
    }

    a {
        padding: 0px 10px;
        font-size: 13px;
    }

    .mhead{
        align-items: normal;
    }

    .dbtn {
        margin: 0px 7px;
        font-size: 13px;
    }

    .dcon {
        min-width: 60px;
    }

    .dcon a {
        margin: 10px 10px;
        padding: 0px 0px;
    }

    .lhead {
        font-size: 13px;
    }

    .lhead img {
        height: 20px;
        width: 20px;
    }

    .openBtn {
        font-size: 13px;
        padding: 0px 15px;
    }

    .f {
        margin: 40px 80px;
    }

    .c {
        font-size: 6px;
    }

    .si input,
    .si button {

        font-size: 8.5px;
    }

    .fo {
        font-size: 30px;
    }

    .fi {
        font-size: 15px;
    }

    /* respon. bar */

    .burger {
        display: block;
    }

    .h-nav-resp {
        height: 33px;
    }

    .v-class-resp {
        opacity: 0;
    }

    /* all class content */

    .tinp textarea {
        width: 70%;
        height: 50px;
        margin: 10px 0px 0px 0px;
    }
    .tinp{
        text-align: center;
    }

    .coin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .finp {
        display: block;
        margin: 5px 0px;
        width: 100%;
    }

    .fbut button {
        font-size: 10px;
        width: 50px;
    }

    .finp input {
        margin: 10px 0px 0px 0px;
        height: 15px;
        width: 70%;
        font-size: 10px;
    }

    .first {

        font-size: 15px;
        margin: 10px 0px 10px 0px;
        color: black;
    }

    .se {
        font-size: 13px;
        margin: 10px 0px 10px 0px;
    }

    .th {
        height: 300px;
        border-radius: 10px;
        width: 240px;
    }

    /* foo class content */

    .foo {
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
        width: 240px;
        height: 70px;
    }

    .foo div {
        font-size: 10px;
        margin: 3px 0px;
    }

    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        padding: 0px 0px;
    }
    footer div {
        margin: 0px 15px;
    }
    
    footer a {
        margin: 0px 4px;
        padding: 0px 0px;
    }

}