* {
    padding: 0px;
    margin: 0px;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0d1838;
    color: white;
    position: sticky;
    top: 0;
    z-index: 20;
    padding: 20px 20px;
    height: 30px;
}

.lhead {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
}

.lhead img {
    height: 36px;
    width: 36px;
    border-radius: 50px;
}

.mhead {
    display: flex;
    align-items: center;
    font-size: 21px;
}
.mhead li a:hover{
    color: rgba(255, 9, 9, 0.863);
}

a {
    text-decoration: none;
    color: inherit;
    padding: 0px 10px;
}

.mhead li {
    list-style: none;
}

.rhead {
    display: flex;
}

.dbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: inherit;
    padding: inherit;
    margin: 0px 31px;
    background-color: inherit;
    font-family: inherit;
}
.dbtn:hover{
    color:rgba(255, 9, 9, 0.863);
}

.dcon {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 165px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dcon a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dcon a:hover {
    background-color: rgb(175, 174, 240);
}

.drop:hover .dcon {
    display: block;
}

.openBtn {
    background: inherit;
    font-style: inherit;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    color: inherit;
    border-radius: 5px;
}

.openBtn:hover {
    background-color:rgba(255, 9, 9, 0.863) ;
}

/* overlay class content */

.closebtn {
    position: absolute;
    display: block;
    font-size: 30px;
    font-style: inherit;
    right: inherit;
    cursor: pointer;
    color: white;
    right: 30px;
    top: 25px;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
}

.f {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #0d1838;
    border-radius: 5px;
    margin: 20px 400px;
}


.overlay-content {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #0d1838;
    padding-top: 50px;
    align-items: center;
}

.t {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

.c {
    padding: 0px 5px;
    font-size: 14px;
    color: white;
}

.si div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
}

.si input,
.si button {
    font-size: 15px;
}

.fo {
    font-size: 30px;
    color: white;
    font-size: 40px;
    margin: 10px 0px;
    text-align: center;
}

.fi {
    font-size: 15px;
    color: white;
    font-size: 20px;
    margin: 10px 0px;
    text-align: center;
}

/* firstsection class content */

.background {
    background: rgba(0, 0, 0, 0.7) url('/img/p4.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firstHalf {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondHalf {
    width: 30%;
}

.secondHalf img {
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big {
    font-size: 40px;
    padding: 20px 0px;
}

.text-small {
    font-size: 18px;
}

.btn {
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
}

.btn-dark {
    color: black;
    border: 2px solid grey;

}
/* middle section */
.bacc{
    display: block;
    box-sizing: inherit;
    width: 80%;
}
.bocc{
    display: block;
    box-sizing: inherit;
    width: 80%;
    height: 210px;
}
.imgc{
    display: block;
    padding: 20px 0px;
    margin: auto;
    
    box-sizing: inherit;
    width: 80%;
}

.msc{
    height: 1850px;
    margin: 50px 50px;
}

.sfc{
    display: block;
    width: 66%;
    float: left;
    clear: left;
}

.ssc{
    display: block;
    width: 33%;
    float: right;
    clear: right;

}
.ssc h2 a:hover{
    color: rgba(255, 9, 9, 0.863);
    text-decoration: underline;

}

/* footer class */

footer {
    display: flex;
    background-color: #0d1838;
    justify-content: center;

    color: white;
    align-items: center;
    padding: 20px 20px;

}

footer div {
    margin: 0px 50px;
}

footer a {
    margin: 0px 15px;
    padding: 0px 0px;
}

/* burger class */

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 8px;

}

.line {
    width: 23px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}