@media only screen and (max-width : 768px) {


    /* header */

    header {
        padding: 10px 10px 5px 10px;
        flex-direction: column;
        height: 75px;
    }


    a {
        padding: 0px 10px;
        font-size: 13px;
    }

    .mhead{
        align-items: normal;
    }

    .dbtn {
        margin: 0px 7px;
        font-size: 13px;
    }

    .dcon {
        min-width: 60px;
    }

    .dcon a {
        margin: 10px 10px;
        padding: 0px 0px;
    }

    .lhead {
        font-size: 13px;
    }

    .lhead img {
        height: 20px;
        width: 20px;
    }

    .openBtn {
        font-size: 13px;
        padding: 0px 15px;
    }

    .f {
        margin: 40px 80px;
        height: 70vh;
    }

    .c {
        font-size: 6px;
    }

    .si input,
    .si button {

        font-size: 8.5px;
    }

    .fo {
        font-size: 30px;
    }

    .fi {
        font-size: 15px;
    }

    /* resp burger class */

    .burger {
        display: block;
    }

    .h-nav-resp {
        height: 33px;
    }

    .v-class-resp {
        opacity: 0;
    }


    /* new */

    .fh {
        flex-direction: column;
        padding: 30px 0px 30px 0px;
        height: 250px;
    }

    .fhi {
        font-size: 20px;
        margin-left: 0px;
    }

    .fhii {
        font-size: 12px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .bt {
        padding: 4px 4px;
        margin-top: 5px;
        font-size: 7px;
    }
    .bnm{
        font-size: 25px;
    }
    .jkl{
        display: flex; align-items: center; justify-content: center; margin-bottom: 20px;
    }

    .box {
        margin-top: 15px;
    }



    .c_fl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cbc{
        font-size: 7px;
    }

    #services2 {
        padding: 24px 30px;

    }

    .f_sec {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2px 80px 2px 68px;
        display: flex;
        padding: 2px 4px;
    }

    #ll{
        margin-top: 25px;
    }

    .fo_cl {
        height: 100px;
        width: 100px;
    }

    .fo_cl_nf {
        margin-right: 40px;
    }

    .d_sec{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px 70px;
        flex-direction: column;
        padding: 30px 0px;
    }
    .fo_cl_nc{
        margin-right: 0px;
        margin-left: 0px;
    }

    .p_ne {
        padding-top: 10px;
    }

    .f_in {
        font-size: 12px;
        padding: 10px 10px;
    }

    .f_in_n {
        margin-right: 0px;
    }

    .fit {
        height: 300px;
        padding: 50px;
        justify-content: center;
        align-items: center;
        row-gap: 7px;

    }
    .fit_n{
        width: 250px;
    }

    .d_b {
        display: flex;
        align-items: center;
    }


    .footer {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;

    }

    .f_la {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .o_fo {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 5px;


    }
    .ccv{
        margin-right: 34px;
    }


}