* {
    margin: 0;
    padding: 0;
}


.container{ 
    
    color: white;
    padding: 100px 0px;
    margin: 0px 550px;
    
     
}
.mco{
    background: url('/img/logbg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container h1{
    font-family: 'Heebo', sans-serif;
    width: 50%;
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid purple;
    margin-bottom: 15px;
    padding: 13px 0;
}

.boxx{
    width: 100%; 
    margin: 22px 0px;
    border-bottom: 2px solid purple;
}

.boxx input{  
    background: none;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline:none;
    color: white;
}

.btn{
    color: white;
    cursor: pointer;
    outline: none; 
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    font-weight: bold;
    
}

.boxx i{ 
    width: 25px; 
    text-align: center;
}

.btn:hover{
    opacity: 0.5;
    color: purple; 
    background: white; 
    
}
.lin{
    font-size: 60px;
}

@media only screen and (max-width : 1022px) {

.container{ 
    color: white;
    padding: 90px 90px;
    margin: 0px 10px;
}
.lin{
    font-size: 30px;
}


}