.inf{
    display: flex;
    justify-content: space-around;
    margin: 60px 80px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.un{
    border: none;border-bottom: 2px solid black; width: 50px; font-size: 20px;
}
.unn{
    border: none;border-bottom: 2px solid black; width: 70px;font-size: 20px;
}
.unc{
    border: none;border-bottom: 2px solid black; width: 430px; font-size: 20px;
}

#ph{
    height: 30px;
    width: 180px;
}
#pb{
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color:  #0d1838;
    border-radius: 25px;
    border-color: white;
    margin: 40px auto;
}
#pb:hover{
    background-color: rgba(255, 9, 9, 0.863);
}
.ci{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.my{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
}
.cv{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.pi{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.cpic{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    box-shadow: 0 4px 16px hsla(355, 25%, 15%, .1);
    border-radius: .75rem;
    padding: 30px 30px;
    
}

.cvv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.myf{
    display: flex;
    
}
.r1t{
    font-size: 30px;
}
.r2t{
    font-size: 20px;
}

.c3{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.c3 img{
    height: 30px;
    width: 50px;
}
.ao{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

@media only screen and (max-width : 1022px) {


    .inf{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        margin: 40px 60px;
    }

    .un{
        border: none;border-bottom: 2px solid black; width: 30px; font-size: 20px;
    }
    .unn{
        border: none;border-bottom: 2px solid black; width: 30px;font-size: 20px;
    }
    .unc{
        border: none;border-bottom: 2px solid black; width: 200px; font-size: 20px;
    }

    .ao{
        width: 160px;
    }

}