* {
    padding: 0px;
    margin: 0px;
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    background-color: #0d1838;
    align-items: center;
    padding: 20px 20px;
}
.fo1, .fo2{
    color: white;
}

footer div {
    margin: 0px 50px;
}

footer a {
    margin: 0px 15px;
    padding: 0px 0px;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0d1838;
    color: white;
    position: sticky;
    top: 0;
    z-index: 20;
    padding: 20px 20px;
    height: 30px;
}

.lhead {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
}

.lhead img {
    height: 36px;
    width: 36px;
    border-radius: 50px;
}

.mhead {
    display: flex;
    align-items: center;
    font-size: 21px;
}

a {
    text-decoration: none;
    color: white;
    padding: 0px 10px;
}

.mhead li {
    list-style: none;
}
.mhead li a:hover{
    color: rgba(255, 9, 9, 0.863);
}

.rhead {
    display: flex;
    
}

.dbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color:white;
    padding: inherit;
    margin: 0px 31px;
    background-color: inherit;
    font-family: inherit;
}
.dbtn:hover{
    color:rgba(255, 9, 9, 0.863);
}

.dcon {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 165px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dcon a {
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dcon a:hover {
    background-color: rgb(175, 174, 240);
}

.drop:hover .dcon {
    display: block;
}


.openBtn {
    background: inherit;
    font-style: inherit;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
   border: none;
   color: white;
   border-radius: 5px;
}

.openBtn:hover {
    background-color:rgba(255, 9, 9, 0.863) ;
}

/* overlay class content */

.closebtn {
    position: absolute;
    display: block;
    font-size: 30px;
    font-style: inherit;
    right: inherit;
    cursor: pointer;
    color: white;
    right: 30px;
    top: 25px;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
}

.f {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #0d1838;
    border-radius: 5px;
    margin: 20px 400px;
}


.overlay-content {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #0d1838;
    padding-top: 50px;
    align-items: center;
}

.t {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

.c {
    padding: 0px 5px;
    font-size: 14px;
    color: white;
}

.si div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
}


.si input,
.si button {
    font-size: 15px;
}

.fo {
    font-size: 30px;
    color: white;
    font-size: 40px;
    margin: 10px 0px;
    text-align: center;
}

.fi {
    font-size: 15px;
    color: white;
    font-size: 20px;
    margin: 10px 0px;
    text-align: center;
}

/* slidehow */

.slideshow-container {
    position: relative;
    overflow: hidden;
}

.mySlides {
    display: none;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* midcon class content */

.midcon {
    font-size: 20px;
    padding: 40px 200px;
}

/* thla class content */

.thla {
    display: flex;
    padding: 0px 250px;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
}

.left {
    background-image: url('/img/thll.avif');
    background-size: 100% 100%;
    border-radius: 8px;
    margin-bottom: 100px;
}


.right {
    border-radius: 8px;
    background-image: url('/img/thr.jpg');
    background-size: 100% 100%;
    margin-top: 100px;
}

.thr,
.thl {
    color: white;
    padding: 160px 80px;
}

/* cen class content */

.spon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spon img {
    display: block;
    height: 160px;
}
.sp14 {
    margin: 0px 0px 0px 90px;
}
.cen {
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
}

/* services id content */

#services {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px 0px 0px;
}

#services .box {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    padding: 40px 40px;
}

#services .box h2{
    display: flex;
    justify-content: center;
    padding-top: 12px;
    align-content: center;
}

#services .box img {
    border-radius:15px;
    height: 160px;
    display: block;
}

/* burger class */

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 8px;
}

.line {
    width: 23px;
    background-color:white;
    height: 4px;
    margin: 5px 3px;
}


/* section class content */

.section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    padding: 60px 0px 60px 0px;
}


.paras {
    padding: 0px 65px;
}

.sectionTag {
    padding: 16px 0;
}



.thumbnail img {
    width: 250px;
    height: 250px;
    border-radius: 26px;
    margin-top: 0px;
}

.text-big {
    font-size: 35px;
    padding: 15px 0px;
}

.text-small {
    font-size: 20px;
}